
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  color: cyan;
  --message: "Tick to open";
  --bg: transparent;
  position: fixed;
  top: 0;
  left: 0;
  margin: 1em;
}
.checkbox:checked {
  --bg: unset;
  --message: "Untick to close";
}
.checkbox:before, .checkbox:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.checkbox:before {
  padding: 0.5em;
  background: var(--bg, cyan);
  border: 1px solid;
}
.checkbox:after {
  content: var(--message);
  color: #fff;
  margin-left: 0.5em;
}

.message_container {
  filter: drop-shadow(0 0 8px cyan);
}
.message_container .message {
  background: #000;
  --aug-border: 2px;
  --aug-border-bg: cyan;
  width: calc(100% - 20px);
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s;
}
.message_container .message .title {
  display: inline-block;
  padding: 0.5em 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  --aug-inset: .25em;
  --aug-inset-bg: #ff0;
  --aug-br: .75em;
}
.message_container .message p {
  color: #fff;
  padding: 1em;
  margin: 0;
  display: block;
  line-height: 1.4em;
  text-align: justify;
  max-height: 10em;
}

.checkbox ~ .message_container > .message {
  max-height: 0;
  opacity: 0;
}
.checkbox:checked ~ .message_container > .message {
  max-height: 300px;
  opacity: 1;
}

.footer {
  background: rgba(64, 64, 64, 0.1);
  backdrop-filter: blur(8px);
  position: fixed;
  left: 2.5%;
  right: 2.5%;
  bottom: -2px;
  --aug-border: 2px;
  --aug-border-bg: cyan;
  color: #fff;
  padding: 0.5em;
  text-align: center;
}
.footer ul {
  display: block;
}
.footer ul li {
  display: inline-block;
  padding: 0.5em 1em;
}
.footer a {
  color: cyan;
  text-decoration: none;
}
.footer a:hover, .footer a:focus {
  text-decoration: underline;
}